{:paths ["src" "dev"]
 :deps {}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {vlaaad/reveal {:mvn/version "1.2.185"}
                              kotyo/clj-rocksdb {:mvn/version "0.1.6"}}}}}
